<form action="save_comment" method="post"> <textarea name="comments" id="comments"></textarea>
  <input type="hidden" name="property" value="<%=@property.id%>" >
  <input type="submit" value="Submit comment">
</form>
