<style>
  h1 {
    text-align:center;
    margin:30px auto 0 auto;
    font-size: 40px;
    font-weight:bold;
  }

  .box {
    width:600px;
    border-radius:5px;
    padding: 10px;
    box-shadow: -5px 5px 5px rgba(8,116,171,0.7);
    margin:20px auto auto auto;
    display:block;
    background-color:LightGray;
  }
</style>

<h1> Properties </h1>

<ul id='properties'>
  <% @properties.reverse.each do |property| %>
    <div class="box">
      <a href="property/<%= property.id %>">
        <caption><%= property.address1 %><br></caption>
        <%= property.bedrooms %> Bedrooms, From <%= property.price %> per night<br>
      </a>
    </div>
  <% end %>
</ul>
